* {
    margin: 0;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 7px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    z-index: 1000; /* Make sure it stays on top */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for better separation */
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .header-img {
        width: 150px;
    }

    .header-text {
        font-size: 14px;
        text-align: center;
    }
}

.header {
    padding: inherit;
}

.header-img {
    width: 140px;
    padding-left: 220px;
}

.header-text {
    font-size: 13px;
    color: rgb(158, 157, 157);
    font-family: 'Nunito', sans-serif;
    padding-right: 230px;
    font-weight: 800;
}

.get-started-container {
    padding-top: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.get-started-container-item-1 {
    font-size: 32px;
    color: #4B4B4B;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: 900;
}

.get-started-container-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.start-btn {
    margin: 7px;
    height: 50px;
    border-radius: 12px;
    width: 330px;
    font-family: 'Nunito', sans-serif, bold;
    font-size: 15px;
    border: none !important;
    cursor: pointer;
    font-weight: 800;
}

.start-btn:active {
    box-shadow: none;
    transform: translate(0, 4px);
  }

.start-btn-1 {
    background-color: #58CC02;
    color: white;
    box-shadow: 0 4px 0 #58a700;
}


.start-btn-2 {
    color: #199EDD;
    box-shadow: 0 4px 0 #d6d6d6;
}

.flags-container {
    margin-top: 200px;
    width: 100%;
    border: 1px solid rgb(214, 214, 214);
    padding-top: 20px;
    padding-bottom: 20px;
}

.flags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.flag-text {
    justify-content: center;
    align-items: center;
}

.about-container {
    padding-top: 100px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-family: 'Nunito', sans-serif, bold;
    font-weight: 800;
    text-align: left;
    margin-top: 100px;
}

.about-item-1 {
    color: #5BCD06;
    font-size: 48px;
    padding-top: 50px;
    font-weight: 800;
    padding-right: 65px;
}

.about-item-2 {
    color: gray;
    
}

.about-item-2 a{
    color: #19a0df;
    text-decoration: none;
    font-size: large;
    padding-bottom: 150px;
}

.test-container{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    padding-top: 150px;
    margin-bottom: 100px;
}

.test-item {
    font-family: 'Nunito', sans-serif, bold;
    font-weight: 800;
    padding-left: 100px;
}

.test-item-1 {
    color: #5BCD06;
    font-size: 48px;
}

.test-item-2 {
    color: gray;
    text-align: left;
}

.test-btn{
    color: #199EDD;
    margin: 7px;
    height: 50px;
    border-radius: 12px;
    width: 330px;
    font-family: 'Nunito', sans-serif, bold;
    font-size: 15px;
    border:4 solid gray;
    cursor: pointer;
    font-weight: 800;
    margin-right: 150px;
    background-color: white;
    margin-bottom: 50px;
    margin-left: 100px;
}

.test-btn:hover{
    background-color: rgb(219, 218, 218);
}

.test-btn button{
    margin-left: 200px;

}

footer {
    padding: 10px;
    background-color: #58CC02;
    margin: 0;
    color: white;
}

.footer-main-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px;
    gap: 5px;
    font-family: 'Nunito', sans-serif, bold;
    padding-top: 50px;
}

.bold {
    font-weight: 800;
}

.footer-container-item {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif, bold;
    gap: 10px;
}

.footer-color {
    color: rgb(224, 224, 224);
}