* {
    margin: 0;
}

.header-container {
    width: 100%;
    background-color: white;
    padding: 7px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: inherit;
}

.header-img {
    width: 140px;
    padding-left: 220px;
}

.header-text {
    font-size: 13px;
    color: rgb(158, 157, 157);
    font-family: 'Nunito', sans-serif;
    padding-right: 230px;
    font-weight: 800;
}

.get-started-container {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.get-started-container-item-1 {
    font-size: 32px;
    color: #4B4B4B;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: 900;
}
